@import "bourbon";
@import "neat";
@import "base/base";

@import url(http://fonts.googleapis.com/css?family=Inconsolata);


.page-container {
  @include outer-container;
}

header, section {
  @include shift(2);
  @include span-columns(8);
}

header {
  text-align: center;

  h1 {
    margin: 0.25rem;
  }
}

section {
  h3 {
    padding-bottom: 0.25rem;
    border-bottom: 1px solid $light-gray;
  }

  svg {
    display: block;
    margin: auto;
  }

  .math-expr {
    margin-left: 30%;
  }
}

text {
  font-family: "Inconsolata", monospace;
}

#current-float {
  font-family: "Inconsolata", monospace;
}

.update {
  fill: #000;
}
