- var pdf_x = "&phi;<sub>x</sub>"
- var pdf_y = "&phi;<sub>y</sub>"
- var cdf_x = "&phi;<sub>x</sub>"
- var cdf_y = "&phi;<sub>y</sub>"
- var unif  = "&#119984;"
- var rv_B  = "&#119809;"
- var fn    = "&#119891;"
- var fsub_B = fn + "<sub>"+rv_B+"</sub>";
- var norm  = "&#119977;"
- var reals = "&#8477;"
- var integers = "&#8484;"
- var elem  = "&#8712;"
- var set_a = "&#119808;"
- var set_b = "&#119809;"
- var lt    = "&lt;";
- var lte   = "&#8804;";

!!! 5
%html
  %head
    %title Turning Bytes into Bell Curves
    %link(rel="stylesheet" href="assets/global.css")
    %script(src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js")
    %script(src="assets/global.js")
    :javascript
      WebFont.load({
        google: {
          families: ['Inconsolata']
        }
      });
  %body
    .page-container
      %header
        %h1 Turning Bytes into Bell Curves
        %h3 Random Sampling: An Interactive Demo
      %section#intro
        %p Of all my university classes, my favorites were the ones dealing with probability. Sure, other subjects turned out to be useful- but when, for instance, <a href="http://setosa.io/conditional/" target="_blank">Bayes' Theorem</a> finally clicked, it felt like <em>magic</em>.
        %p To my surprise, though, more than a few of my more traditional CS friends seem a bit mystified by the topic. Ask them to about custom memory managers, complicated graphics routines, or database query optimization and they'll go on for days- but if you bring up Monte Carlo methods, they glaze over and start thinking about James Bond playing baccarat!
        %p So for their sake, we're going to look at a basic topic that sits close to the intersection of computer science and statistics: drawing random samples from a normal distribution. There are several ways to do this, but we'll focus on three: inverse transform sampling, the Box-Mueller Transform, and the Ziggurat algorithm.

      %section#sampling-bytes
        %h3 Sampling Bytes
        %p If we want to sample random numbers, we need a source of randomness. Luckily, I just so happen to have a stream of random bytes right here:
        #random-byte-samples
        %p These values are sampled from the <a href="https://developer.mozilla.org/en-US/docs/Web/API/RandomSource/getRandomValues" target="_blank">Web Cryptography API</a>.  Throughout this article, this will be our only source of random numbers.

      %section#discrete-uniform
        %h3 Discrete, Indiscreet
        %p Mathematically, the result of taking one sample of this stream is a random variable <span>!{rv_B} = !{unif}{0, 255}</span>.  Accordingly, the probability of any particular outcome is <span>!{fsub_B} (b) = 1/256</span>, or about <em>0.0039</em>.
        %p In order to get a better idea of what this means, the bar graph below shows all possible outcomes, with their relative rates of occurrence.  If our distribution of bytes is truly uniform, these bars should settle at 0.39%.

        #uniform-sample-rates

      %section#continuity
        %h3 Continuity
        %p Many useful distributions, including the normal, are continuous- that is to say, they are defined for every single real number. Since we can't represent the entirety of !{reals} on a <em>digital</em> computer, we're going to have to settle for an approximation.
        %p What we'll do here is interpret a sequence of four bytes as a 32-bit unsigned integer, then divide that integer by 2<sup>32</sup>.
        %aside
          %h4 Granularity
          %p You might very well recognize that we have a problem here if we assume that this is "continuous enough" for our needs. Suppose we let 
          .math
            %p 
              <strong>A</strong> = { <em>a</em> !{elem} !{reals} | 0 !{lte} <em>a</em> !{lte} 1, <em>a</em> is representable by a 32-bit float } 
            %p
              <strong>A'</strong> = { <em>a</em> !{elem} !{reals} | 0 !{lte} <em>a</em> !{lte} 1, <em>a</em> is <em>NOT</em> representable by a 32-bit float } 

            
          
        #transformed-uniform
      %section#bump
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
